@model LambdaForum.Web.Models.Tasks.GetAllTaskViewModel

@section scripts
    {
<environment names="Development">
    <script src="~/js/Tasks/Create.js"></script>
    <script src="~/js/Tasks/index.js"></script>
    <script src="~/js/Tasks/_TaskEditModal.js"></script>
    <script src="~/js/Tasks/_TaskCreateModal.js"></script>
</environment>
    }

<div class="row">
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">Create Task</button>

    </a>
    <div>
        <div class="body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@L("UserName")</th>
                        <th>Due Date</th>
                        <th>Task Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in Model.Tasks)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Task" asp-action="TaskDetail" asp-route-id="@task.Id">
                                    <h4 class="list-group-item-heading">@task.Name</h4>
                                </a>
                                <div class="list-group-item-text">
                                    @task.CreationTime.ToString("yyyy-MM-dd HH:mm:ss") | @(task.AssignedPersonName ?? L("Unassigned"))
                                </div>
                            </td>
                            <td>
                                @task.DueDate
                            </td>
                            <td>
                                @task.TaskType
                            </td>

                            <td class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" class="waves-effect waves-block edit-user" data-user-id="@task.Id" data-toggle="modal" data-target="#TaskEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                    <li><a href="#" class="waves-effect waves-block delete-user" data-user-id="@task.Id" data-user-name="@task.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                </ul>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        <button type="button" class="btn btn-primary create-user btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#TaskCreateModal">
            <i class="material-icons">add</i>
        </button>
    </div>

    <!--
            <div class="modal fade" id="TaskCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">

                    </h4>
                </div>
                <div class="modal-body">




                </div>
            </div>
        </div>
    </div>

            -->
    <div class="modal fade" id="TaskCreateModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
            </div>
        </div>
    </div>

    <div class="modal fade" id="TaskEditModal" tabindex="-1" role="dialog"  data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              
            </div>
        </div>
    </div>

